<div id="content" class="col-lg-10 col-lg-offset-1">

  <header id="header" class="col-lg-12" [style.background]="header_color">
    <h1>
      {{title}}
    </h1>
  </header>
  <nav id="nav" class="col-lg-12">
    <ul id="ul" class="col-lg-12">
      <li> <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a></li>
      <li> <a [routerLink]="['/products']" [routerLinkActive]="['active']">Productos</a></li>
      <li> <a [routerLink]="['/add']" [routerLinkActive]="['active']">Crear producto</a></li>
    </ul>
  </nav>
  <br>
  <section id="main" class="col-lg-12">
    <br>
    <!-- Componente Actual -->
    <!-- <home></home> -->
    <router-outlet></router-outlet>
  </section>
  <footer id="footer" class="col-lg-12">
    <p>Curso de angular 15 - yolomcswagger.com </p>
  </footer>
</div>
